<div class="dashboard-tabs-container ">
  <ul class="nav nav-tabs dashboard-tabs">
    <li class="nav-item">
      <button (click)="changeState(0)" class="nav-link" [class.active]="state === 0">
        <i class="bi bi-speedometer2 me-2"></i>Dashboard
      </button>
    </li>
    <li class="nav-item">
      <button (click)="changeState(1)" class="nav-link" [class.active]="state === 1">
        <i class="bi bi-tags me-2"></i>Categories
      </button>
    </li>
    <li class="nav-item">
      <button (click)="changeState(2)" class="nav-link" [class.active]="state === 2">
        <i class="bi bi-diagram-2 me-2"></i>Subcategories
      </button>
    </li>
    <li class="nav-item">
      <button (click)="changeState(3)" class="nav-link" [class.active]="state === 3">
        <i class="bi bi-book me-2"></i>Products
      </button>
    </li>
    <li class="nav-item">
      <button (click)="changeState(5)" class="nav-link" [class.active]="state === 5">
        <i class="bi bi-receipt me-2"></i>Orders
      </button>
    </li>
    <li class="nav-item">
      <button (click)="changeState(6)" class="nav-link" [class.active]="state === 6">
        <i class="bi bi-people me-2"></i>Users
      </button>
    </li>
  </ul>

  <div class="tab-content p-4">
    @if(state == 0){
      <app-dashboard-main></app-dashboard-main>
    }
    @if(state == 1){
      <app-dashboard-categories></app-dashboard-categories>
    }
    @if(state == 2){
      <app-dashboard-subcategories></app-dashboard-subcategories>
    }
    @if(state == 3){
      <app-dashboard-products></app-dashboard-products>
    }
    @if(state == 5){
      <app-dashboard-orders></app-dashboard-orders>
    }
    @if(state == 6){
      <app-dashboard-users></app-dashboard-users>
    }
  </div>
</div>