<div class="row">
  <div class="col-2 text-center p-3">
    <h3>Dashboard Control</h3>
    <button (click)="changeState(0)" class="btn btn-primary mb-3 form-control">Main Dashboard</button>
    <button (click)="changeState(1)" class="btn btn-primary mb-3 form-control">Products</button>
    <button (click)="changeState(2)" class="btn btn-primary mb-3 form-control">Users</button>
    <button (click)="changeState(3)"class="btn btn-primary mb-3 form-control">Categories</button>
    <button (click)="changeState(4)" class="btn btn-primary mb-3 form-control">Orders</button>
  </div>
  <div class="col-10">
    @if(state == 0){
      <app-dashboard-main></app-dashboard-main>
    }
    @if(state == 1){
      <app-dashboard-products></app-dashboard-products>
    }
    @if(state == 2){
      <app-dashboard-users></app-dashboard-users>
    }
    @if(state == 3){
      <app-dashboard-categories></app-dashboard-categories>
    }
    @if(state == 4){
      <app-dashboard-orders></app-dashboard-orders>
    }
  </div>
</div>