<div class="container my-5 px-3 px-md-5">
    <div class="bg-light p-4 p-md-5 rounded shadow-sm">
        <h3 class="fw-bold mb-4">Account Settings</h3>

        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control rounded-pill" id="name" placeholder="Enter your name" />
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control rounded-pill" id="email" placeholder="Enter your email" />
            </div>

            <div class="mb-3">
                <label for="pass" class="form-label">New Password</label>
                <input type="password" class="form-control rounded-pill" id="pass" placeholder="Enter your new password" />
            </div>


            <button type="submit" class="btn btn-outline-secondary rounded-pill px-4">Save Changes</button>
        </form>
    </div>
</div>