<div class="container py-5">
  <h1 class="display-5 fw-bold mb-4 text-slate-800 wishlist-title">My Wishlist</h1>

  <div class="row g-4 mb-4 justify-content-center align-items-center text-center">
    @for (item of paginatedWishlist; track item.productId) {
    <ng-container>
      @if (item) {
      <app-wishlist-item [item]="item" (remove)="deleteItem($event)"></app-wishlist-item>
      }
    </ng-container>
    }
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center mt-4 mb-4 p-4">
    @if (paginatedWishlist.length > 0) {
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" [maxSize]="5"
      [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="lg">
    </ngb-pagination>
    } @else {
    <div class="col-12 text-center">
      <p class="fs-5 fw-bold text-muted mx-5">Your wishlist is empty</p>
    </div>
    }
  </div>
</div>
