<div class="login-container text-center">
    <h2 class="mb-2" style="font-weight: 700;">Welcome back!</h2>
    <p class="text-muted mb-4">Please enter your details.</p>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div *ngIf="errorMessage" class="alert alert-danger text-start">
            {{ errorMessage }}
        </div>


        <div class="mb-3 text-start">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required (ngModelChange)="errorMessage=''"/>
        </div>

        <div class="mb-3 text-start">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required (ngModelChange)="errorMessage=''"/>
        </div>

        <div class="d-flex justify-content-between align-items-center mb-3">
            <a href="/forgot-password" class="text-decoration-none" style="color: #5C708A;">Forgot password?</a>
        </div>

        <button type="submit" class="btn w-100 btn-login">
            Sign in
        </button>

        <div class="divider">or</div>

        <button type="button" class="btn btn-google w-100 mb-3" id="googleBtn">
            <img src="https://img.icons8.com/color/48/google-logo.png" alt="Google" />
            Sign in with Google
        </button>

        <p class="login-footer mt-3" style="color: #5C708A;">
            Don’t have an account?
            <a href="register" class="text-decoration-none" style="color: #5C708A;">Sign up</a>
        </p>
    </form>
</div>