<div class="container py-5 users-data-container">
  <div class="row mt-4">
        <div class="col-12">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="mb-0">Users Data</h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-striped">
                  <thead class="table-light">
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Role</th>
                      <th>State</th>
                      <th>Created At</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (user of UsersData; track user._id) {
                    <tr>
                      <td>{{ user._id }}</td>
                      <td>{{ user.name }}</td>
                      <td>{{ user.email }}</td>
                      <td>
                        <span class="badge badge-role-{{user.role.toLowerCase()}}">{{user.role}}</span>
                      </td>
                      <td>{{ user.active? "Active" : "InActive" }}</td>
                      <td>{{ user.createdAt | date:'dd/MM/yyyy'}}</td>
                      <td>
                        <div class="btn-group btn-group-sm" role="group">

                        <button class="btn btn-outline-success" (click)="editRole(user._id)">
                          <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-outline-danger" (click)="ToggleUserState(user._id,user.active)">
                          <i class="bi bi-check2-circle"></i>
                        </button>
                      </div>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">Showing Users Signed Up</small>
            </div>
          </div>
        </div>
      </div>
</div>

