<ul class="nav nav-tabs mt-4">
    <li class="nav-item">
        <a [routerLink]="['/profile/purchased']" routerLinkActive="active" class="nav-link">Purchased Books</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/profile/reviews']" routerLinkActive="active" class="nav-link">Reviews</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/profile/ratings']" routerLinkActive="active" class="nav-link">Ratings</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/profile/info']" routerLinkActive="active" class="nav-link">Personal Info</a>
    </li>
</ul>

<!-- This must be placed outside the <ul> -->
<router-outlet></router-outlet>
